{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#	<title></title>#}
{#</head>#}

{% extends 'temp/user.html' %}
{% block base %}
<body>
	<h2 align="center">Order details</h2>
<form>
	<table align="center" border="2">
		<tr>
            <th>c_id</th>
			<th>m_id</th>
			<th>date</th>
			<th>delivery_date</th>
			<th>status</th>
			<th>choosen_quantity</th>

		</tr>
        {% for i in objval %}
		<tr>
			<td>{{ i.c_id }}</td>
			<td>{{ i.m.meat_name }}</td>
			<td>{{ i.date }}</td>
			<td>{{ i.delivery_date }}</td>
            <td>{{ i.status }}</td>
			<td>{{ i.choosen_quantity }}</td>
{#			<td>{{ i.price_kg }}</td>#}

{#            <td>{{ i. }}</td>#}
		</tr>
        {% endfor %}
	</table>
</form>
</body>
</html>
{% endblock %}